.main-footer {
  background-color: #343232;
  color: white;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.col li {
  list-style-type: none;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 25%;
}

.row .col {
  width: 25%;
}

.col {
  padding-left: 40px;
}

.col h4 {
  color: #4d8b54;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 25px;
}

ul {
  padding-left: 0;
}

.row2 {
  text-align: center;
  padding: 24px;
}

li svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

a {
  text-decoration: none;
  color: white;
}

.Footer-icon {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
